<%- include('partials/header') %> 

<%- include('partials/flash') %> 

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <h1><%= campground.name %> </h1>
        </div>
        <div class="col-12">
            <p class="h4 text-muted"><%= campground.location.city %>, <%= campground.location.state %>  </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-12">
            <img src="<%= campground.image %>" class="w-75 img-fluid" alt="">
        </div>
        <div class="col-12 mt-4">
            <p class="w-75"><%= campground.description %> </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>$<%= campground.price %>/night </h4>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-warning ml-2 mb-3" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
    </div>
</div>


<%- include('partials/footer') %> 